[project]
name = "netbox-plugin-machine_tracking"
version = "0.0.1"
authors = [
  { name="Lisa Guo", email="lisguo@cisco.com" },
]
description = "A Netbox plugin tracking failures and other state changes in devices."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"