body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}

form {
    margin-bottom: 1em;
}

.page {
    flex: 1;
}

.footer {
    padding: 1.5em;
}

.books {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.book {
    width: 30%;
    min-width: 20em;
    margin: 0.2em;
}

.cover {
    border: 1px solid lightgrey;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .book {
        width: 100%;
    }
}
